doctype html
head
  style.
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    body {
      font-family: "Roboto";
    } 
body
    h1 available vizzes
    ul
        li 
            a(href="/sunburst/index.html" target="_parent") sunburst
        li 
            a(href="/timeplot/index.html" target="_parent") timeplot
        li 
            a(href="/hexbin-map/index.html" target="_parent") hexbin map
        li 
            a(href="/getdata/index.html" target="_parent") getData
        li 
            a(href="/filter-test/index.html" target="_parent") Filter Test