doctype html
head
  style.
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    body {
      font-family: "Roboto";
    } 
body
    h1 Available Data Studio Visualizations
    ul
        li 
            a(href="/sunburst/index.html" target="_parent") Sunburst
        li 
            a(href="/getdata/index.html" target="_parent") getData (Helper component)