doctype html
head
  link(rel="stylesheet", href="hexbin-map.css")
  style.
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    body {
      font-family: "Roboto";
    } 
body
  script(src='hexbin-map.js')
